* {
    margin: 0;
    padding: 0;
}


body{
    display: grid;
    grid-template: "header header aside2" 0.1fr
                   "aside1 main aside2" 1fr
                   "aside1 footer footer" 0.1fr
                   / 0.2fr 0.6fr 0.2fr;
    height: 100vh;
    gap: 1rem;
    font-family: Baskerville;
}

header{
    grid-area: header;
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.title {
    width: 55%;
    text-align: end;
}

.title h1{
    font-size: 3rem;
}

.link a{
    padding: 1rem;
}


.aside1 {
    grid-area: aside1;
    background-color: teal;
    padding: 1rem;
    list-style-position: inside;

}

.aside1 h2 {
    text-align: center;
    background-color: linen;
    border-radius: 15px;
    margin-bottom: 25px;
}
#input1 {
    height: 4rem;
    width: 65%;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
}

#form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#input1 {
    background-color: linen;
}

#addButton {
    width: calc(30% - 0.85rem);
    height: 4rem;
    border-radius: 25%;
    border: none;
    font-size: 1rem;
    background-color: indianred;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


#deleteButton, #removeButton {
    width: 45%;
    height: 2rem;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    background-color: indianred;
}

#addButton:hover, #removeButton:hover, #deleteButton:hover {
    background-color: #d3484c;
}

#addButton:active, #removeButton:active, #deleteButton:active {
    background-color: #bd1818;
}

.notes1 {
    margin-top: 2rem;
    height: 20rem;
    background-color: linen;
    border-radius: 15px;
    overflow: scroll;
}
main {
    grid-area: main;
    background-color: linen;
    padding: 1.5rem;
}

main section {
    margin-bottom: 15%;
}

#aside2 {
    grid-area: aside2;
    background-color: teal;
    padding: 1rem;
    list-style-position: inside;

}

#colorButton {
    height: 3rem;
    width: 100%;
    background-color: linen;
    margin-top: 20rem;
    border: none;
    border-radius: 15px;
}

#colorButton:hover {
    background-color: bisque;
}

#colorButton:active {
    background-color: burlywood;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
    background-color: teal;
    padding: 1.5rem;
}

@media screen and (max-width: 1000px) {
    body {
        grid-template: "header header header" 0.1fr
                   "aside1 main aside2" 1fr
                   "aside1 footer footer" 0.1fr
                    / 0.2fr 0.6fr 0.2fr;
    }
}
@media screen and (max-width: 800px) {
    body {
        grid-template: "header header" 0.1fr
                       "main main" 1fr
                       "aside1 aside2" 0.5fr
                       "footer footer" 0.1fr
        / 0.5fr 0.5fr;

    }
}